<app-header></app-header>
<div class="profileCard">
    <p-breadcrumb [model]="items" [style]="{'margin-top': '1%', 'margin-bottom': '1%'}"></p-breadcrumb>
    <div style="width: 100%;padding-bottom: 2%; padding-left: 45%;">
        <p-button label="Update Profile" icon="pi pi-fw pi-user-edit"></p-button>
    </div>
    <p-card [style]="{'width': '20rem', 'margin-bottom': '2em', 'margin':'0 auto'}">
        <p-avatar *ngIf="userdata" styleClass="p-mr-2" image="{{userdata.imageURL}}" severity="danger" size="large" shape="circle"></p-avatar>
        <p>{{userdata.fullName}}</p>
        <p>{{userdata.givenName}}</p>
        <p>{{userdata.familyName}}</p>
        <p>{{userdata.role}}</p>
        <p *ngIf="userdata.phoneNumber">{{userdata.phoneNumber}}</p>
        <p *ngIf="userdata.department">{{userdata.department}}</p>
        <p *ngIf="userdata.addressFormatted">{{userdata.addressFormatted}}</p>
        <p>{{userdata.creationDate}}</p>
        <p>{{userdata.lastLogin}}</p>
    </p-card>

</div>