.google-login-btn {
    background-image: url('../../assets/images/google-login-btn.png');
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 10%;
    padding-left: 10%;
}

mat-card {
    margin: 10% auto;
    width: 30%;
}

mat-form-field {
    width: 100%;
}