.formContainer {
    display: grid;
    grid-template-rows: auto;
    padding-top: 2%;
}

.cardItem {
    grid-area: cardItem;
}

.no-show {
    visibility: hidden;
}

.formComponent {
    padding-bottom: 7%;
}

.label {
    padding-bottom: 3%;
}

input {
    border-width: 1px;
    border-color: rgb(142, 143, 143);
    color: #c9c9c9;
    width: 100%;
}

input:hover {
    border-width: 1px !important;
    border-color: #8697cf !important;
}

label {
    font-family: 'Roboto';
    font-size: large;
    color: #c9c9c9;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
    margin: auto;
    width: 95%;
}

.error {
    height: 60px;
    background-color: rgb(180, 14, 47);
    text-align: center;
    display: table;
    margin-top: 5%;
}

.errorText {
    color: #ffffff;
}

.container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: "header header header header" "main main main main";
    padding-bottom: 5%;
}